digistudio @ git+https://${DIGISTUDIO_TOKEN}@github.com/partna-studio/digistudio.git
beautifulsoup4
pandas
nest-asyncio
python-dotenv
mammoth
selenium
requests
openpyxl
ipykernel
aiohttp
markdownify
webdriver_manager
qdrant_client
flask
flask-cors
pymongo
nest_asyncio
tqdm



